<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.robbywh.reactnativezendeskmessaging">

  <application>
    <activity
        android:name="zendesk.messaging.android.internal.conversationscreen.ConversationActivity"
        android:theme="@style/ZendeskTheme"
        tools:replace="android:theme" />
    <activity
        android:name="zendesk.messaging.android.internal.conversationscreen.ImageViewerActivity"
        android:theme="@style/ZendeskTheme"
        tools:replace="android:theme" />
    <activity
        android:name="zendesk.messaging.android.internal.conversationslistscreen.ConversationsListActivity"
        android:theme="@style/ZendeskTheme"
        tools:replace="android:theme" />
  </application>

</manifest>
